.product-payment-container {
  width: 640px;
  height: 400px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  opacity: 1;
  z-index: 15;
  position: absolute;
  top: calc(50% - 209px);
  left: calc(50% - 326px);
  animation: popup 0.1s ease-in-out 0s 1;
}
.product-payment-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
.product-payment-message {
  font-size: 16px;
  font-weight: 500;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.58);
  border-left: 5px solid black;
  padding: 0px 10px;
  width: 560px;
  margin-left: 45px;
}
.product-payment-member {
  font-size: 20px;
  font-weight: 500;

  line-height: 34px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
.product-payment-price {
  font-size: 30px;
  font-weight: 500;

  line-height: 51px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  bottom: 12px;
}
.product-ailpay-icon,
.product-wechat-icon,
.product-paypal-icon {
  font-size: 32px;
  color: rgba(52, 52, 52, 1);
  position: relative;
  top: 10px;
}
.product-payment-prefix {
  position: relative;
  top: -15px;
  line-height: 60px;
  font-size: 18px;
  color: black;
  margin-right: 20px;
}
.product-payment-results {
  position: relative;
  bottom: 20px;
  height: 150px;
}
.product-payment-qrcode-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  animation: popup 0.1s ease-in-out 0s 1;
  width: 200px;
}
.product-payment-qrcode {
  /* width: 150px; */
  margin-left: 50px;
  margin-top: 40px;
}
.product-payment-qrcode-text {
  font-size: 18px;

  line-height: 34px;
  color: rgba(52, 52, 52, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 50px;
  left: 30px;
}
.product-payment-qrcode-spin {
  position: relative;
  left: 80px;
  top: 100px;
}
.product-payment-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: black;
}
.product-payment-paypal-button {
  animation: popup 0.1s ease-in-out 0s 1;
  background-color: rgba(52, 52, 52, 1) !important;
  border: none;
  position: relative;
  top: 10px;
  margin-top: 100px;
  margin-left: 50px;
}
.product-payment-next-button {
  background-color: rgba(52, 52, 52, 1) !important;
  border: none;
  position: relative;
  top: 10px;
}
.product-payment-results-detail {
  text-align: left;
  margin-left: 180px;
  line-height: 18px;
  user-select: text;
  position: relative;
  bottom: 20px;
}
.ant-result-subtitle {
  user-select: text;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
