.contact-container-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(75, 75, 75, 0.7);
  z-index: 14;
}
.contact-container {
  width: 800px;
  height: 650px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 400px);
  top: 80px;
  z-index: 15;
  box-shadow: 0 0 16px rgba(75, 75, 75, 0.3);
  border-radius: 150px 150px 50px 50px;
  overflow: hidden;
  margin-bottom: 80px;
  animation: popup 0.2s ease-in-out 0s 1;
  user-select: text;
}
.contact-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
}
.contact-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
}
.contact-talk {
  font-size: 50px;
  color: rgba(75, 75, 75, 1);
  width: 100%;
  line-height: 130px;
  text-align: center;
  margin-top: 150px;
}
.contact-info {
  position: relative;
  font-size: 20px;
  color: rgba(75, 75, 75, 1);
  width: 100%;
  line-height: 40px;
  text-align: center;
  z-index: 50;
}
