.main {
  display: flex;
  /* width: 100%;
  height: 100%; */
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 20px;
  overflow: auto;
  background-color: white;
}
.main .leftMenu {
  width: 224px;
  border-right: solid 1px rgba(75, 75, 75, 0.1);
}
.main .leftMenu :global .ant-menu-inline {
  border: none;
}
.main .right {
  flex: 1;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 8px;
  padding-left: 40px;
}
.main .right .title {
  margin-bottom: 12px;
  color: pink;
  font-size: 20px;
  line-height: 28px;
}
.main :global .ant-list-split .ant-list-item:last-child {
  border-bottom: 1px solid pink;
}
.main :global .ant-list-item {
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (max-width: 980px) {
  .main {
    flex-direction: column;
  }
  .main .leftMenu {
    /* width: 100%; */
    border: none;
  }
  .main .right {
    padding: 40px;
  }
}
.payment-page .ant-menu-item {
  height: 50px !important;
  line-height: 50px !important;
  color: rgba(75, 75, 75, 0.6);
  padding-left: 70px !important;
}
.payment-page .ant-menu-item-selected {
  color: #1890ff !important;
  background-color: #188fff23 !important;
}
