.ant-menu-item {
  font-size: 17px !important;
  color: rgba(72, 72, 72, 1) !important;
  margin: 0px !important;
  height: 55px !important;
  line-height: 55px !important;
  padding-left: 34px !important;
}
.ant-menu-item-selected {
  background-color: #1890ff !important;
}
.ant-menu-item-selected span {
  color: white !important;
}
.nav-text {
  position: relative;
  bottom: 1px;
}
.anticon-dashboard,
.anticon-account-book,
.anticon-shop,
.anticon-qrcode,
.anticon-pay-circle,
.anticon-mail,
.anticon-skin,
.anticon-idcard,
.anticon-menu-fold,
.anticon-menu-unfold {
  width: 20px;
  height: 20px;
  font-size: 20px !important;
  margin-right: 24px !important;
  margin-left: 0px !important;
  margin-top: 10px !important;
}
.ant-layout-header {
  background-color: #fff !important;
  /* float: right !important;
  width: calc(100% - 218px) !important; */
  height: 61px !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1) !important;
  padding-left: 10px !important;
  padding-right: 0px !important;
  z-index: 1;
}
.header-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 61px !important;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  opacity: 1;
}

.anticon-message,
.anticon-bell,
.anticon-logout {
  width: 20px;
  height: 20px;
  font-size: 20px !important;
  margin-right: 15px !important;
  margin-left: 10px !important;
}
.anticon-logout {
  float: right;
  margin-top: 22px;
}
.header-number-icon {
  position: relative;
  left: 40px;
  bottom: 15px;
}
.header-number {
  /* position: absolute;
  right: 20px;
  top: 10px; */
  /* margin-left: calc(100% - 140px) !important; */
  float: right;
  cursor: pointer;
}
.header-message-box-content-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  left: 9px;
}
.header-message-box-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
.header-message-box {
  position: absolute;
  top: 41px;
  right: 90px;
  max-height: 400px;
  width: 285px;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 9px rgb(27, 26, 26, 0.1);
}
.ant-layout-content {
  position: absolute;
  right: 0px;
  top: 61px;
  width: calc(100% - 218px);
  height: calc(100% - 61px);
  background-color: rgba(247, 249, 252, 1);
  z-index: -1;
  overflow-y: scroll;
  padding: 15px;
}
.ant-input-suffix {
  width: 30px !important;
  line-height: 35px;
}
.ant-menu-inline-collapsed,
.ant-layout-sider {
  min-width: 90px !important;
  padding: 0px !important;
}
.footer {
  text-align: center;
  font-size: 15px;
  margin: 30px 0 40px 0;
  color: rgba(72, 72, 72, 0.6);
}
.login-mask-image {
  width: 100%;
  z-index: -1;
  position: absolute;
}
.login-mask-title {
  font-size: 80px;
  color: black;

  line-height: 300px;
}
.login-mask-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  bottom: 7px;
}
.login-mask-subtitle {
  font-size: 20px;
  color: rgba(72, 72, 72, 0.9);
}
