.card {
  margin-bottom: 24px;
}
.heading {
  margin: 0 0 16px 0;
  font-size: 14px;
  line-height: 22px;
}
.steps:global(.ant-steps) {
  max-width: 750px;
  margin: 16px auto;
}
.errorIcon {
  margin-right: 24px;
  color: pink;
  cursor: pointer;
}
.errorIcon span.anticon {
  margin-right: 4px;
}
.errorPopover :global .ant-popover-inner-content {
  min-width: 256px;
  max-height: 290px;
  padding: 0;
  overflow: auto;
}
.errorListItem {
  padding: 8px 16px;
  list-style: none;
  border-bottom: 1px solid pink;
  cursor: pointer;
  transition: all 0.3s;
}
.errorListItem:hover {
  background: pink;
}
.errorListItem:last-child {
  border: 0;
}
.errorListItem .errorIcon {
  float: left;
  margin-top: 4px;
  margin-right: 12px;
  padding-bottom: 22px;
  color: pink;
}
.errorListItem .errorField {
  margin-top: 2px;
  color: pink;
  font-size: 12px;
}
.editable td {
  padding-top: 13px !important;
  padding-bottom: 12.5px !important;
}
.advancedForm + div {
  padding-bottom: 64px;
}
.advancedForm :global .ant-form .ant-row:last-child .ant-form-item {
  margin-bottom: 24px;
}
.advancedForm :global .ant-table td {
  transition: none !important;
}
.optional {
  color: pink;
  font-style: normal;
}

.steps-action {
  margin-top: 24px;
}
.product-add-page {
  position: relative;
}
.product-add-header {
  width: 100%;
  background-color: #fff;
  height: 150px;
  margin-bottom: 10px;
  padding: 30px;
}
.product-add-page {
  position: relative;
}
.product-add-return {
  font-size: 18px;

  line-height: 25px;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
.ant-steps {
  width: 600px !important;
}
.ant-list-item .ant-card-body {
  min-height: 130px !important;
}
